<!DOCTYPE html>
<html>
<head>
  <title>{{ 'Dynamic Menu'|t }}</title>
  <link rel="stylesheet" href="/modules/custom/dynamic_menu/css/dynamic_menu.css">
</head>
<body>
  <nav>
    <ul id="menu">
      <li><a href="#" onclick="loadContent('home')">Home</a></li>
      <li><a href="#" onclick="loadContent('about')">About</a></li>
      <li><a href="#" onclick="loadContent('contact')">Contact</a></li>
    </ul>
  </nav>
  <div id="content">Content will be loaded here...</div>
  <script src="/modules/custom/dynamic_menu/js/dynamic_menu.js"></script>
</body>
</html>
